body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.chess-board {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  margin: 0 auto;
  border: 2px solid black;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #000;
  font-size: 36px;
  user-select: none;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Alternating colors based on row and column index */
.chess-board .square:nth-child(odd) {
  background-color: hsla(42, 13%, 80%, 0.596); /* Light color */
}

.chess-board .square:nth-child(even) {
  background-color: hsla(42, 13%, 60%, 0.596); /* Dark color */
}

/* Adjust colors to create a checkered pattern */
.chess-board .square:nth-child(8n + 1),
.chess-board .square:nth-child(8n + 3),
.chess-board .square:nth-child(8n + 5),
.chess-board .square:nth-child(8n + 7) {
  background-color: hsla(42, 13%, 60%, 0.596); /* Dark color */
}

.chess-board .square:nth-child(8n + 2),
.chess-board .square:nth-child(8n + 4),
.chess-board .square:nth-child(8n + 6),
.chess-board .square:nth-child(8n + 8) {
  background-color: hsla(42, 13%, 80%, 0.596); /* Light color */
}

.piece {
  font-weight: bold;
}

.piece.white {
  color: #fff;
}

.piece.black {
  color: #000;
}

.chess-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.board-row {
  display: contents; /* Keep the row's contents in the grid */
}

.turn-info {
  margin-left: 20px;
  text-align: center;
}
